.ourcoffeecard {
    position: relative;
    background: url('../our-coffee-page/ourcoffee_bg.jpg') center center/cover no-repeat;
    min-height: 260px;
    
    h1 {
        color: #ffffff;
        font-size: 40px;
        font-weight: 700;
        padding-top: 130px;
    }
}

.card-wrapper {
    /* margin: 0 auto; */
    margin-bottom: 30px;
    margin-top: 70px;
    height: 355px;
    text-align: center;

    .picture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 355px; 
        height: 355px;
        
        img {
            height: 355px;
        }
    }

    .info {
        padding-top: 9px;
        max-width: 418px;
        height: 232px;
        margin-left: -180px;
    
        h2 {
            font-size: 24px;
            text-align: center;
        }
    
        img {
            margin-top: 21px;
            min-height: 30px;
            text-align: center;
        }
    
        p {
            font-size: 14px;
            margin-top: 16px;
            text-align: left;
        }
    
        p:nth-child(5) span {
            font-size: 18px;
        } 
    }   
}

@media only screen and (max-width: 1200px) and (min-width: 901px) {
    .card-wrapper {      
        .aboutit {
            .info {
                margin-left: 60px;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .ourcoffeecard {
        
        h1 {
            font-size: 30px;
        }
    }
    .card-wrapper {
        height: auto;
        margin-bottom: 140px;

        .aboutit {
            height: auto;
            flex-wrap: wrap;

            .info {
                padding-top: 30px;        
                margin: 10px 10px;
                
                h2 {
                    font-size: 20px;
                }
            
                p {
                    font-size: 12px;
                }
            }
        }
    }
}
