.ourcoffee {
    position: relative;
    background: url('./ourcoffee_bg.jpg') center center/cover no-repeat;
    min-height: 260px;
}

.ourcoffee h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    padding-top: 130px;
}

.page-wrapper {
    /* margin: 0 auto; */
    /* min-height: 1248px; */
    padding-bottom: 30px;
    padding-top: 70px;
}