.nav {
    top: 40px;
    position: absolute;
    left: 140px;
    display: flex;
    align-items: baseline;

    a, a:hover {
        font-size: 12px;
        text-decoration: none;
        color: #ffffff !important;
        z-index: 1;
    }

    img {
        margin-right: -20px;
        z-index: 1;
    }
}

@media only screen and (max-width: 900px) {
    .nav {
        top: 30px;       
        left: 45px;
    
        a, a:hover {
            font-size: 10px;
        }
    
        img {
            height: 30px;
            width: 30px;
        }
    }
}