.nav {
    top: 40px;
    position: absolute;
    left: 140px;
    display: flex;
    align-items: baseline;

    a, a:hover {
        font-size: 12px;
        text-decoration: none;
        color: #ffffff !important;
        z-index: 1;
    }

    img {
        margin-right: -20px;
        z-index: 1;
    }
}

